
.container{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin-top: 40px;
    margin-bottom: 40px;

}
.add{
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 50px;
    // margin: 0 auto;
    background-color: 
    rgba(0, 156, 79, 1);
    font-size: 40px;
    // margin-top: 45px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.delete{
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 50px;
    // margin: 0 auto;
    background-color: 
    rgba(224, 0, 0, 1);
    font-size: 40px;
    // margin-top: 45px;
    cursor: pointer;
    transition: transform 0.3s ease;
}