.coursesWrap{
    width: 100%;
    font-weight: 400;
    margin-top: 200px;
}

.textBlock{
    font-size: 30px;
    text-align: start;
    margin-bottom: 60px;
    background: linear-gradient(90deg, rgba(0, 156, 79, 1) 0%, rgba(0, 156, 79, 0) 100%);
    width: fit-content;
    padding: 20px 20px 20px 70px;
}

.textBlockLight{
    color: #00000057;
}

.coursesList{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.course{
    max-width: 47%;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 55px;
}

.courseImg{
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.courseTitle{
    color: black;
    font-size: 48px;
    text-align: start;
    margin-top: 15px;
    padding-left: 20px;
}

.courseBtn{
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 50px;
    margin: 0 auto;
    background-color: 
    rgba(0, 156, 79, 1);
    font-size: 40px;
    margin-top: 45px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.courseBtn:hover{
    transform: scale(102%);
}