.img_card{
    width: 675px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 675px;
    height: 470px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    flex: 0 0 auto;

}