.btn_add{
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 50px;
    // margin: 0 auto;
    background-color: 
    rgba(0, 156, 79, 1);
    font-size: 40px;
    // margin-top: 45px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.wrapper_btn{
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
}
.test_input {
    background-color: rgba(11, 21, 26, 1);
    border-radius: 30px;
    padding: 30px;
    color: white;
    font-size: 30px;
    // width: 100%;

    &_textarea {
        background-color: rgba(11, 21, 26, 1);
        border-radius: 30px;
        padding: 30px;
        height: 440px;
        font-size: 30px;
        margin: auto;
        color: white;
        width: 80%;
        box-sizing: border-box;


    }
}